.pagebox{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}
.pagegroup{
    list-style: none;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}
